footer {
    background: none;
    position: relative;
    border-top: solid 4px #E5E5E7;
}

footer .innerfooter {
    padding-top: 35px;
    padding-bottom: 50px;
    margin: 0 auto;
    border-bottom: solid 1px #E5E5E7;
}

footer .innerfooter .container {
    max-width: 1310px;
}

footer .innerfooter h4.nav-title {
    font-family: "Mulish";
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #172026;
    text-transform: capitalize;
    font-weight: 600;
}

footer .innerfooter .unique a {
    width: fit-content;
    display: block;
    font-family: "Mulish";
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
    color: #545D63;
    text-decoration: none;
    padding-left: 0;
    letter-spacing: 1px;
    line-height: 17px;
}

footer .innerfooter .unique a span {
    text-transform: none;
}

footer .innerfooter p {
    font-family: "Mulish";
    text-transform: capitalize;
    font-size: 16px;
    color: #484747;
    text-decoration: none;
}

footer .innerfooter strong {
    font-family: "Mulish";
    color: #181C24;
    font-size: 16px;
}

footer .innerfooter h4 {
    font-size: 16px;
    font-family: "Mulish";
    color: #172026;
}

footer .innerfooter .normal i {
    font-size: 1.50rem;
    color: #484747;
}

footer .innerfooter .normal a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5%;
    max-width: max-content;
}

footer .innerfooter .normal a img {
    max-width: 100%;
}

footer .innerfooter .normal p {
    margin: 10px 0;
    text-transform: none;
    color: #545D63;
    font-size: 16px;
    font-family: "Mulish";
}

footer .innerfooter .normal .form-control {
    position: relative;
    background-color: #222;
    margin-bottom: 20px;
    border: 0px;
    padding: 0px;
    border-radius: 5px;
}

footer .innerfooter .normal input {
    border: 2px solid #535965;
    background-color: #fff;
    border-radius: 5px;
    display: block;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    height: 42px;
    color: #646464;
    padding: 14px 5px 12px 10px;
    width: 100%;
}

footer .innerfooter .normal input::placeholder {
    color: #646464;
}

footer .innerfooter .normal .btn {
    background-color: #c5c5c5;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
    font-family: "Montserrat-Regular";
    font-size: 0.87rem;
    border: 1px solid #fff;
    height: 42px;
    text-align: center;
    padding: 0px 6px;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0;
}

footer .innerfooter .normal .btn:hover {
    background-color: #c5c5c5;
}

footer #footer-bottom {
    padding: 20px 0;
}

footer #footer-bottom .copyright {
    max-width: 1310px;
}

footer #footer-bottom .copyright i {
    font-size: 1.56rem;
    color: #646464;
    margin-right: 5px;
}

footer #footer-bottom .copyright p {
    font-family: "Mulish";
    text-transform: capitalize;
    margin-bottom: 0%;
    font-size: 14px;
    color: #545D63;
}

footer #footer-bottom .copyright .company p {
    top: 0px;
    font-family: "Mulish";
    text-transform: capitalize;
    margin-bottom: 0%;
    font-size: 14px;
    color: #545D63;
}

footer #footer-bottom .copyright p a {
    color: #fff;
}

footer #footer-bottom .copyright a {
    margin: 0 1px;
}

footer #footer-bottom .copyright .payment {
    padding: 0px;
    text-align: right;
}

footer #footer-bottom .copyright .payment a {
    font-family: "Mulish";
    color: #172026;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 20px;
}

footer #footer-bottom .copyright .company p a img {
    top: -3px;
    max-width: 60px;
    width: 100%;
    position: relative;
    height: auto;
}

footer #footer-bottom .copyright .reserve p {
    font-family: "Mulish";
    font-size: 14px;
    color: #545D63;
}

@media (max-width: 991px) {
    footer .innerfooter {
        padding: 30px 0;
    }

    footer .innerfooter .unique {
        padding: 2% 2% 0 2%;
    }

    footer .innerfooter .normal {
        padding: 2% 2% 0 2%;
    }

    footer .innerfooter h4.nav-title {
        font-size: 1.12rem;
    }

    footer .innerfooter .unique a {
        font-size: 0.75rem;
    }

    footer #footer-bottom .copyright p {
        font-size: 0.62rem;
    }

    footer #footer-bottom .copyright a {
        margin: 0 0px;
    }

    footer #footer-bottom .copyright .payment {
        padding: 0px;
    }
}

@media(max-width:805px) {
    footer #footer-bottom .copyright .company p a img {
        max-width: 80px;
    }
}

@media (min-width: 767px) {
    footer .innerfooter .collapse {
        display: block;
    }

    footer .innerfooter .collapsing {
        transition: none;
        height: max-content;
    }

    footer #footer-bottom .copyright .reserve p {
        top: 0;
        position: relative;
        font-family: "Mulish";
        text-transform: capitalize;
        margin-bottom: 0%;
        font-size: 14px;
        color: #545D63;
    }

    footer #footer-bottom .copyright p a {
        color: #fff;
    }
}

@media (max-width: 767px) {
    footer .innerfooter {
        padding: 30px 0 0 0;
    }

    footer .innerfooter .normal {
        padding: 0px 15px;
    }

    footer .innerfooter .unique {
        padding: 2% 15px 0 15px;
    }

    footer .innerfooter .normal {
        padding: 2% 15px 0 15px;
    }

    footer .innerfooter .nav-title.collapsed::before {
        content: "+";
        font-size: 1.87rem;
        position: relative;
        top: -10px;
        float: right;
        background-size: contain;
    }

    footer .innerfooter h4.nav-title::before {
        content: "-";
        float: right;
        background-size: contain;
        font-size: 2.50rem;
        position: relative;
        top: -20px;
    }

    footer .innerfooter h4.nav-title {
        cursor: pointer;
    }

    footer .innerfooter .normal h4.nav-title::before {
        content: "";
    }

    footer #footer-bottom .copyright .reserve {
        order: 3;
        text-align: center !important;
        margin-top: 5px;
    }

    footer #footer-bottom .copyright .payment {
        order: 1;
        margin: 0 0 10px 0;
        text-align: center;
    }

    footer #footer-bottom .copyright .company {
        order: 2;
        text-align: center !important;
    }

    footer #footer-bottom .copyright a {
        margin: 0 10px;
    }

    footer #footer-bottom {
        padding: 20px 0 10px;
    }
}