section#contentHolder * h1{font-family: 'Oswald', sans-serif;font-style: normal;font-weight: 500;font-size: 34px;line-height: 46px;letter-spacing: 0.05em;text-transform: uppercase;color: #292929;margin-bottom: 40px;text-align: center;width: 100%;position: relative;display: flex;align-items:center;justify-content: center;}
section#contentHolder h1:before{content:"";display:inline-block;width: 13vw;border-bottom: 1px solid #545D63;position: relative;top: 50%;transform: translateY(-50%);left:-10px;}
section#contentHolder h1:after{content:"";display:inline-block;width: 13vw;border-bottom: 1px solid #545D63;position: relative;top: 50%;transform: translateY(-50%);right:-10px;}



.loginPage * label{font-size:16px;line-height: 16px;color:#181C24;text-transform: capitalize;font-weight: 600; font-family: "Mulish";}
.loginPage * input{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px; font-family: "Mulish";}
.loginPage * select{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px; font-family: "Mulish"; padding-left: 5px;}
.loginPage * button{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto;}
#loginPageContainer {
    max-width: 1310px;
}

#loginModal h1{text-align: center;text-transform: capitalize;}
#loginModal h2{text-align: center;text-transform: capitalize;}

#loginModal * label{font-size:16px;line-height: 24px;color:#181C24;text-transform: capitalize;font-weight: 600; font-family: "Mulish";}
#loginModal * input{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px; font-family: "Mulish";}
#loginModal * select{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px; font-family: "Mulish";}
#loginModal * button.mybtn{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto;}
#loginModal * {font-family: inherit!important; font-family: "Mulish";}

#loginModal * button.btn.btn-primary{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto; font-family: "Mulish";}
#loginModal * button.btn.btn-secondary{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto; font-family: "Mulish";}
#loginModal * button.btn.btn-success{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto; font-family: "Mulish";}


div#loginPageContainer h1 {
    font-family: 'Source Serif Pro', serif;
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 0 !important;
    text-transform: inherit;
}

div#loginPageContainer h1::before, div#loginPageContainer h1::after {display: none !important; }

div#loginPageContainer .loginPage  {
    max-width: 320px;
    padding: 0;
}
.loginPageScreen .loginPage  {
    max-width: 719px !important;
    padding: 0;
    width: 96%;
}

div#loginPageContainer .loginPage .btn-dark.mybtn {
    width: 216px !important; 
    background: #545D63; 
    border-radius: 28px;
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px auto 0;
    display: block;
}

div#loginPageContainer .loginPage h3 {
    font-family: 'Source Serif Pro', serif;
    padding-top: 30px;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

div#loginPageContainer .loginPage .btn-secondary.mybtn {
    width: 216px !important; 
    background: none; 
    border-radius: 28px;
    color: #545D63;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 1px #545D63;
    margin: 15px auto 0;
    display: block;
}

#loginModal h1{text-align: center;text-transform: capitalize;}
#loginModal * label{font-size:16px;line-height: 24px;color:#181C24;text-transform: capitalize;font-weight: 600;}
#loginModal * input{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px;}
#loginModal * select{height: 44px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #B5B7BC;border-radius: 8px;opacity: 1;color: #91959C;font-size: 16px;}
#loginModal * button.mybtn{width: 100%;max-width:300px;height: 40px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 2px solid #545D63;border-radius: 28px;opacity: 1;color: #545D63;font-size: 14px;line-height: 16px;font-weight: bold;margin-right: 00px;margin: 0 auto;}
#loginModal * {font-family: inherit!important;}


header {
    width: 100%;
    z-index: 3;
}

header .container {
    max-width: 1310px;
    padding: 0px 15px;
}

#top {
   overflow: hidden;
  background: #545D63;
  height: auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#top .container {
    max-width: 1310px;
}

#top .one p {
    display: block;
    padding-top: 5px;
    font-family: "Mulish";
    color: #fff;
    font-size: 0.81rem;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 0;
    font-weight: 500;
    padding: 0;
}

#top .one.text-right p a {
    margin-left: 12px;
}

#top .one.text-right p a img {
    max-width: 20px;
    max-height: 20px;
}

#middle {
    background: #fff;
    ;
    height: 120px;
}

#middle .search {
    padding-top: 40px;
    text-align: right;
}

#middle .search form {
    border-bottom: solid 1px #9b9b9b;
    height: 35px;
    position: relative;
    border-radius: 0;
}

#middle input {
    background-color: #fff !important;
    padding-left: 0;
    border: 0px;
    font-size: 1rem;
    text-transform: capitalize;
    color: #000 !important;
    width: 100%;
    max-width: 98%;
    height: 33px;
    margin-right: 1%;
}

#middle input::placeholder {
    color: #b3b0b0;
    font-family: "Montserrat-Medium";
    font-size: 1rem;
    padding-left: 00px;
}

#middle input:focus {
    outline: 0px;
}

#middle .search i {
    font-size: 1.06rem;
    color: #000;
}

#middle .search button {
    background: #fff;
    border: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 10px;
    
    cursor: pointer;
}

#middle .search button img {
    width: 24px;
}

#middle .logo {
    padding-top: 0%;
}

#middle .logo a img {
    width: auto;
    max-width: 100%;
    height: 70px;
    object-fit: contain;
    margin-top: 20px !important;
}

#middle .profile {
    text-align: right;
    padding-top: 35px;
}

#middle .profile a {
    position: relative;
    display: inline-block;
    margin: 0 0 0 5%;
    padding-top: 8px;
    font-family: "Mulish";
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
    font-weight: 500;
}

#middle .profile a i {
    font-size: 1.25rem;
    color: #000;
    margin-right: 6px;
}

#middle .profile span {
    position: relative;
    display: inline-block;
    margin: 0 0 0 5%;
    padding-top: 8px;
    font-family: "Mulish";
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
    font-weight: 500;
    cursor: pointer;
}

#middle .profile span i {
    margin-right: 7px;
}

#middle .profile a:last-of-type {
    font-size: 0px;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
}

#middle .profile a#header-cart {
    margin-left: 20px;
}

#middle .profile a:last-of-type span {
    position: absolute;
    top: -8px;
    left: 5px;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    font-size: 14px;
    color: #fff;
    font-family: "Mulish";
    background: #BE0000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: normal;
}

#middle .profile button {color:#545D63; font-size:16px;  font-family: "Mulish";}
#middle .profile button .fa-user {margin-right:5px;}
#middle .profile button img {
    margin-right: 5px;
}

header nav {
    height: 60px;
    background-color: transparent !important; 
    border-top: solid 1px #E5E5E7;
    z-index: 3;
    padding: 0 !important;
}

header nav .container {
    max-width: 1310px;
}

header nav i {
    display: none !important;
}

header .navbar-dark .navbar-nav .nav-item a.nav-link {
    font-family: 'Mulish';
    color: #1B252C;
    padding: 0;
    margin: 0 !important;
    line-height: 49px;
    font-size: 16px !important;
    text-transform: capitalize;
    white-space: nowrap;
    font-weight: 600;
}

header .navbar-dark .navbar-nav .dropdown-menu {
    box-shadow: 0px 3px 5px -5px #222222;
    position: absolute;
    padding: 10px 10px 30px 10px;
    right: 0px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    box-sizing: border-box;
    display: none;
    background-color: #fff;
    border: 0px solid;
    border-radius: 2px;
    z-index: 10;
    top: 100%;
}

header .navbar-dark .navbar-nav .dropdown-menu .container {
    max-width: 1310px;
    width: 100%;
    padding: 0 15px;
}

header .navbar-dark .navbar-nav img {
    display: none;
}

header #navbarResponsive {
    max-width: 1310px;
    margin: 0 auto;
}

header .navbar-dark .navbar-nav .dropdown-menu a.title {
    width: fit-content;
    border-bottom: 2px solid #000;
    font-family: 'Mulish';
    margin-bottom: 3%;
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
}

header .navbar-dark .navbar-nav .dropdown-menu a {
    width: fit-content;
    font-family: "Montserrat-Medium";
    line-height: 40px;
    font-size: 0.81rem;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
}

@media(min-width:1620px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.93rem;
        margin: 0 21px;
    }
}

@media(max-width:1619px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.93rem;
        margin: 0 1.3rem;
    }
}

@media(min-width:1342px) {
    #middle .logo {}
}

@media(max-width:1342px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.81rem;
        margin: 0 1.5rem;
    }
}

@media(max-width:1250px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.75rem;
        margin: 0 1.5rem;
    }
}

@media(max-width:1192px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.75rem;
        margin: 0 1.2rem;
    }
}

@media(max-width:1130px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.75rem;
        margin: 0 1rem;
    }
}

@media(max-width:1050px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 0.68rem;
        margin: 0 1rem;
    }
}

@media (min-width:992px) {
    .col-ag-2 {
        -ms-flex: 0 0 16% !important;
        flex: 0 0 16% !important;
        max-width: 20%;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-ag-login {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    header .navbar-dark .navbar-nav {
        padding: 0px !important;
        margin: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header .navbar-dark .navbar-nav .nav-item {
        transition: ease-in .2s;
        background: transparent;
    }

    header .navbar-dark .navbar-nav .nav-active {
        position: relative;
    }

    header .navbar-dark .navbar-nav .nav-item:hover {
        transition: ease-out .3s;
        border-bottom: 10px solid #fff
    }

    header .navbar-dark .navbar-nav .nav-item:hover .nav-link {
        color: #1B252C;
    }

    header .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
        display: block;
    }

    header .dropdown-menu .collapse {
        display: block;
    }

    /************************************* START CATEGORY PAGE **************************************/
    .col-lg-5th {
        flex: 0 0 25%;
        max-width: 25%;
    }

    /************************************* END CATEGORY PAGE **************************************/

    #middle .search i {
        margin-top: 3px;
    }
}

@media (max-width:1300px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 16px !important;
    }

}

@media (max-width:1200px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size: 16px !important;
    }

}

@media (min-width: 993px) and (max-width: 1100px) {
    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        font-size:16px !important;
    }

}

@media (max-width: 991px) {
    header .container {
        padding: 0 15px;
    }

    #middle {
        height: auto;
    }

    #middle .logo {
        padding-top: 5px;
    }

    #middle .logo a img {
        display: block;
        margin: 0 0 0 0;
    }

    #middle .search {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #middle .search input:focus {
        outline: none !important;
    }

    #middle .search input::placeholder {
        color: #b3b0b0;
    }

    #middle .search input:hover {
        border-bottom: 1px solid #fff;
        transition: ease-in 2s;
        transform-origin: right;
    }

    #middle .search button {
        top: 7px;
    }

    #middle .profile a {
        font-size: 0px;
        margin: 0 5px;
    }

    #middle .profile {
        padding-top: 18px;
        text-align: center;
        padding-bottom: 10px;
    }

    header nav {
        padding: 0px !important;
        height: auto;
        overflow: hidden;
        max-height: 90%;
        overflow-y: scroll;
        border-top: 0;
    }

    header nav a.navbar-brand img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    header .navbar-dark .navbar-toggler {
        order: -2;
        border: 0;
        outline: none;
        background: #000;
        margin-left: 20px;
    }

    header .navbar-dark .navbar-nav .dropdown-menu .container {
        padding: 0px;
    }

    header .navbar-dark .navbar-nav .nav-item {
        border-bottom: 1px solid #e7e7e7;
        position: relative;
    }

    header .navbar-dark .navbar-nav .nav-item a.nav-link {
        text-align: left;
        font-size: 0.87rem !important;
        margin: 0 1rem;
        color: #000;
        display: inline;
        width: 80%;
        text-shadow: none;
        padding-left: 15px;
        padding-left: 10px;
    }

    header .navbar-dark .navbar-nav .dropdown-menu {
        position: relative !important;
        padding: 0px;
        box-shadow: 0px 0px 0px 0px #222222
    }

    header .navbar-dark .navbar-nav {
        background: #fff;
        margin: 0 !important;
    }

    header .navbar-dark .navbar-nav .dropdown-menu.collapse {display: none;}
    header .navbar-dark .navbar-nav .dropdown-menu.collapse.show {display: block;}

    header nav .dropdown-menu i {
        cursor: pointer;
        display: block !important;
        position: absolute;
        right: 5%;
        top: 10px !important;
        font-size: 0.93rem !important;
    }

    header nav li.nav-item i {
        cursor: pointer;
        display: block !important;
        position: absolute;
        right: 5%;
        top: 15px;
        font-size: 1.37rem;
    }

    header .navbar-dark .navbar-nav .dropdown-menu a.title {
        text-transform: capitalize;
        border-bottom: 0px solid #000;
        margin-bottom: 10px;
        padding: 0 0 0 30px;
        line-height: 30px;
        font-size: 0.81rem;
        color: #000;
        text-decoration: none;
        display: block;
    }

    header .navbar-dark .navbar-nav .dropdown-menu a {
        padding-left: 7%;
        line-height: 30px;
        font-size: 0.75rem;
        color: #000;
        text-decoration: none;
        display: block;
    }

    header .navbar-dark .navbar-nav .dropdown-menu p {
        font-size: 0.87rem;
        color: #000;
        text-decoration: none;
        display: block;
    }

    #middle .profile span {
        margin: 0;
    }

    #middle .search form {
        height: 40px;
    }

    #middle .search input {
        border: 0 solid #333;
    }

    #middle .search button i {
        color: #000;
    }


    #middle .search button {
        right: 0;
    }

    #loginModal .modal-dialog {display: block;}

}

@media (max-width: 767px) {
    #middle .logo a img {
        display: block;
        margin: 0 auto !important;
        width: auto !important;
        height: 90px !important;
        position: relative !important;
    }

    #middle {
        margin-bottom: 0px;
    }

    #middle .profile a#header-cart {
        padding-top: 11px;
    }

    #middle .logo p {
        margin-bottom: 0;
        text-align: center;
    }

    div#loginPageContainer .loginPage {max-width: 92% !important;}

    #top a i {
        margin-left: 5px;
    }

    #middle .logo a span span {
        display: none !important;
    }
 
}

@media (max-width:767px) {
    #top .one {
        text-align: center !important;
    }

    #top {
        height: auto;
    }
}

#top a {
    color: #fff !important;
    text-decoration: none;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
    text-transform: lowercase;
    font-weight: 500;
    font-family: "Mulish";
}

#top a i {
    font-size: 1.3rem;
    margin: 0 0 0 10px;
}

#top .text-left a i {margin-left: 0;}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    display: block !important;
}